*{
    box-sizing: border-box;
    margin: 0px;
}
body {
    margin: 0px;
    font-family: 'Courier New', Courier, monospace;
    background-color: hsl(0, 5%, 92%);
}
header{
    padding: 20px;
    background-color: rgb(17, 124, 143);
    /* position: relative; */
    /* overflow: hidden; */

}
header h1 {
    padding-top: 2vw;
    text-align: center;
    font-size: 5vw;
    color:black;
}
/* .banner{
    background-image: url(/img/b.gif) ;
    height: 14vw;
    min-height: 30px;
    background-size: 50%;
} */
.flex-align-right{
    margin-left: auto;
}
footer , nav {
    display: flex;
    background-color: #333;
}
footer a ,nav a{
    display: block;
    font-size: 2vh;
    font-weight: bolder;
    color: white;
    text-decoration: none;
    padding: 1.2vw 2vw;
    float: left;
}
footer a{
    font-size: 1.2vw;
}
.menubtn:hover{
    border-radius: 5px;
    background-color:white;
    color:black;
}
h2{
    padding-top: 5vh;
    /* padding-bottom: 0.1vh; */
}
section{
    text-align: center;
    /* height: 100%; */
    /* padding-top:40px 0px ; */
    /* min-height: 40vh; */
}
section h2 span{
    padding: 1vw 5vw;
    border-radius: 30px;
    background:linear-gradient(to right , yellow ,lightgreen)
}
/* 
.carousel-cell {
    padding-top: 40px;
    width: 80%;
    height: 50vh;
    margin: .1vw;
    border-radius: 5vh;
}
.carousel-cell video{
      max-width: 35%;
} */
/* 
section video{
    border: 2px solid black;
} */
.outvideo{
    margin: 4vw 2vw;
    height: 35%;
    border: .4vh solid black;
}
.img-responsive{
    border: .2vh solid #333;
    margin: 10vh 1vw 10vh 1vw;
    border-radius: 5vh;
    width: 22%;
    height: 50vh;
}
iframe{
    padding-top: 5vh;
    margin: 0px 1% 5% 1%;
    height: 50vh;
    width: 30%;
}
.profileimg{
    margin-top: 5vh;
    width: 20%;
    border-radius: 50%;
}
.profilename{
    font-size: 2vw;
    font-family:'Courier New', Courier, monospace;
    font-weight: 900;
    letter-spacing: .1vw;
    word-spacing: .4vw;
    text-transform: uppercase;
    margin: 1vh .1vw 2vh .1vw ;
}
.sm-handle a{
    background-color: rgb(125, 125, 125 , 50%);
    padding: 1vw 2.2vw;
    font-weight: 700;
    border-radius: 3vh;
    margin: 1vw .2vw;
    text-decoration: none;
    font-size: 2vw;
}
.sm-handle a:hover{
    background-color: #333;
}
.sm-handle i{
    margin: .2vw;
}
.Ihandle{
    color:#dd2a7b;
    padding: 1.25vh;
    border-radius: .5vw;
}
/* .ihandle-color{
    color: white;
    background: linear-gradient(45DEG , #405DE6 , #5851db , #c13584, rgb(245, 86, 86) ,yellow, lightyellow);
} */
.fhandle{
    color:#3b5998;
    /* background-color: white; */
    padding: 1.4vh .8vw;
    border-radius: .5vw;
}
.about-us{
    margin: 5vh 5vw;
    font-size: 2vw;
    color: #120f5e;
}
h4 span{
    background-color: rgb(125, 125, 125 , 50%);
    border-radius: 3vh;
    padding: 2vh 2vw;
}
.about-title{
    font-size: 1.5vw;
    padding: 0vh 5vw;
    color: black;
    text-transform: capitalize;
    font-family: monospace;
    margin: 5vh;
    font-weight: 500;
}
@media screen and (max-width : 800px) {
    .img-responsive{
        margin: 5vh .1vw 1vh .1vw;
        width: 35%;
        height: 25vh;
    }
    iframe{
        margin: 5vh .1vw 1vh;
        width: 30%;
        height: 25vh;
    }
}
@media screen and (max-width : 700px) {
    footer ,nav{
        flex-direction:column;
        padding: 1vw 1vw; 
        text-align: center;
    }
    .flex-align-right{
        margin-left: 0px;
    }   
}